body {
  background-color: #101010;
  color: #f0f0f0;
  width: 99vw;
  height: 98vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search-inputs input {
  height: 2rem;
  background-color: #383838;
  border-radius: 10px;
  color: #f0f0f0;
  border: none;
  padding: 0 1rem;
}

.submit-button{
  height: 2rem;
  padding: 0 1rem;
}

.tips{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgb(68, 68, 68);
}

.tips p2{
  color: #505050;
  font-size: smaller;
}

.tips ul{
  list-style-type: none;
  font-size: 0.7rem;
}

.results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.results th {
  padding: 0.8rem;
}

.results td {
  padding: 0.8rem;
}

.results th, .results td {
  border-bottom: #858585 1px solid;
}


